@page "/PaymentManagement"
@using Microsoft.Extensions.Localization
@using global::Full.Abp.PaymentManagement.Localization
@inject IStringLocalizer<PaymentManagementResource> L
@{
}
<h1>PaymentManagement</h1>
<p>@L["SamplePageMessage"]</p>