@page
@using Microsoft.Extensions.Localization
@using Full.Abp.CategoryManagement.Localization
@using Full.Abp.CategoryManagement.Web.Pages.CategoryManagement
@model Full.Abp.CategoryManagement.Web.Pages.CategoryManagement.IndexModel
@inject IStringLocalizer<CategoryManagementResource> L

@{
}
<h1>CategoryManagement</h1>
<p>@L["SamplePageMessage"]</p>
