@page
@using Microsoft.Extensions.Localization
@using Full.Abp.PaymentManagement.Localization
@using Full.Abp.PaymentManagement.Web.Pages.PaymentManagement
@model Full.Abp.PaymentManagement.Web.Pages.PaymentManagement.IndexModel
@inject IStringLocalizer<PaymentManagementResource> L

@{
}
<h1>PaymentManagement</h1>
<p>@L["SamplePageMessage"]</p>
